################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Installer
/obj
/astyle.exe
/build.bat
/resource.aps
/resource.zip
/RCa03056
*.orig
